// set up a simple neutral simulation
initialize() {

//	defineConstant("REP", 1);  // simulation replicate
//	defineConstant("R", 0.9);  // simulation replicate
	defineConstant("N", 1000);  // pop size

	initializeTreeSeq();

	initializeMutationRate(2.5e-6);
	
	// m2 mutation type: deleterious
//	initializeMutationType("m2", 0.5, "g", -0.1, 0.1);
	initializeMutationType("m2", 0.5, "f", -0.05);
	
	initializeGenomicElementType("g1", m2, 1.0);
	
	// uniform chromosome of length 100 kb with uniform recombination
	initializeGenomicElement(g1, 10000, 14999);
	
	initializeRecombinationRate(2.5e-6, 24999);
}

// create a population of 500 individuals
1 {
	sim.addSubpop("p1", N);
}
15000 {
	sim.treeSeqOutput("SimpleComparison.gen"+sim.generation +".rep"+REP+".R."+R+".trees");
}

15001 late() {
// Re-draw the recombination hotspots

	sim.chromosome.setRecombinationRate(2.5e-6*R, 24999);

}

15001:27500 late(){
	if (sim.generation % 500 == 0){
		sim.treeSeqOutput("SimpleComparison.gen"+sim.generation +".rep"+REP+".R."+R+".trees");

		}
	}
